<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Phishing Website Detection</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="header_midil">
               <div class="container">
                  <div class="row d_flex">
                     
                     <div class="col-md-8">
                        <a class="logo" href="#"><h1 style="font-size:36px;">Phishing Website Detection System</h1></a>
                     </div>
                     
                  </div>
               </div>
            </div>
             <div class="header_bottom">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-8 col-lg-8 col-md-12 col-sm-8">
                        <nav class="navigation navbar navbar-expand-md navbar-dark ">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                           <div class="collapse navbar-collapse" id="navbarsExample04">
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item">
                                    <a class="nav-link" href="view_user.html">View User</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="add_blacklist.html">Add to Blacklist</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="add_words.html">Add Words</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="view_blacklist.html">Black List</a>
                                 </li>
                                 <li class="nav-item  active">
                                    <a class="nav-link" href="view_words.html">Blacklisted Words</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="view_feedbacks.html">View Feedback</a>
                                 </li>
                                 <li class="nav-item">
                                    <a class="nav-link" href="../index.html">Logout</a>
                                 </li>
                              </ul>
                           </div>
                        </nav>
                     </div>
                     
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="text-bg" style="align-items:center;">
                  <h2 style="font-size:40px;">Blacklisted Websites</h2>
                  <hr>
                    <div class="col-md-12">
                    	
                        <table class="table table-bordered table-responsive table-striped">
                        	<tr>
                            	<th style="text-align:center;">SL NO</th>
                            	<th style="text-align:center;" width="300">Words</th>
                                <th style="text-align:center;">Score</th>
                                
                            </tr>
                            <tr>
                            	<td>1</td>
                                <td>file:///E:/PROJECT%20STUDETS/2022/MOC%20PERUMBILAV/Phishing%20Website/Project/Admin/add_words.html</td>
                                <td>1</td>
                              
                            </tr>
                        </table>
                        </div>
                   
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="ban_img">
                    
                  </div>
               </div>
            </div>
         </div>
      </section>
    
      <footer>
         
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2022 All Rights Reserved. Design by<a href="#"> Phishing Website Detection</a></p>
                     </div>
                  </div>
               </div>
            </div>
        
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
   </body>
</html>

